/* Header */
#Header .logo_size {
  width: 70px;
}

Header .svg.logo_size:hover path {
  fill: #23a370 !important;
}

.nav_btn {
  background: #ec6a15;
  border-radius: 5px;
  padding: 13px 19px 13px 22px;
  border: 1px solid transparent;
}

.nav_btn:hover {
  background: transparent;
  opacity: 1;
  border-radius: 5px;
  padding: 13px 19px 13px 22px;
  border: 1px solid #ec6a15;
}

.opacity_1:hover {
  opacity: 1;
}

.cursor_pointer {
  cursor: pointer;
}

.threeline {
  width: 30px;
  z-index: 12415;
  position: inherit;
}

.threelinechild {
  width: 100%;
  height: 2px;
  margin-top: 4px;
  transition: all 0.4s ease-in-out;
  border-radius: 50px;
  background: #ffffff !important;
  display: flex;
  flex-direction: column;
}

.falseline1 {
  width: 100%;
  height: 2px;
  background: #ffffff !important;
  transition: all 0.4s ease-in-out;
  border-radius: 50px;
  transform: rotate(45deg) translate(5%, 15%);
}

.falseline3 {
  width: 100%;
  height: 2px;
  background: #ffffff !important;
  transition: all 0.4s ease-in-out;
  border-radius: 50px;
  transform: rotate(-45deg) translate(0);
}

.shownav {
  position: fixed;
  width: 140%;
  height: 100vh !important;
  background: #172e2b !important;
  left: -18% !important;
  top: 0;
  z-index: 999 !important;
  overflow: scroll;
  transition: all 0.4s ease-in-out;
}

.hidenav {
  position: absolute;
  width: 100vw;
  height: 100vh !important;
  background: #172e2b !important;
  left: -160%;
  top: 0;
  transition: all 0.4s ease-in-out;
  z-index: 999 !important;
}

.menu_icon_size {
  width: 30px;
}

.nav_tab_onhover::after {
  content: "";
  position: absolute;
  bottom: -19px;
  right: 0%;
  width: 100%;
  height: 2px;
  transition: all 300ms ease-in-out !important;
  background: #27bba2;
}

.nav_tab_onhover {
  color: #27bba2 !important;
  opacity: 1;
}

.nav_tab_on:hover {
  color: #27bba2 !important;
  opacity: 1;
}

/* Hero */
.bg_hero_img {
  background-image: url(./assets/img/webp/ratina.webp);
  background-size: 400px 400px;
  background-position: bottom;
  background-repeat: no-repeat;
}

.Hero_transprant_card_top {
  background: rgba(39, 187, 162, 0.05);
  backdrop-filter: blur(8px);
  padding: 10px;
  border-radius: 10px;
  width: 130.77px;
  height: 82px;
}

.Hero_transprant_card_bottom {
  background: rgba(39, 187, 162, 0.05);
  backdrop-filter: blur(8px);
  padding: 10px;
  border-radius: 10px;
  width: 130.77px;
  height: 82px;
}

.plus_vector_position {
  top: 55%;
  left: 19%;
}

.plus_vector_position2 {
  top: 25%;
  right: 16%;
}

.plus_vector_position3 {
  bottom: 25%;
  left: 5%;
  width: 43px;
}

.plus_vector_position3::after {
  content: "SCROLL";
  width: 104px;
  height: 17px;
  color: rgba(255, 255, 255, 0.709);
}

.eyes_vector_position {
  top: 33%;
  left: 14%;
}

.eyes_vector_position2 {
  bottom: 20%;
  right: 16%;
  width: 43px;
  rotate: 20deg;
}

/* Disease */
svg.fill-changer:hover path {
  fill: #ffffff !important;
}

svg.fill-changer:hover {
  fill: #27bba2;
}

.first_slide {
  width: 75% !important;
  position: unset;
}

.middle_slide {
  width: 75% !important;
  display: none;
  position: unset;
}

.last_slide {
  width: 75% !important;
  position: unset;
  display: none;
}

.min_vh__100 {
  min-height: 100vh;
}

.shadow_green3 {
  background: #29dabc;
  opacity: 0.5;
  filter: blur(100px);
  width: 217.54px;
  height: 217.54px;
  bottom: 10%;
  right: 17%;
  z-index: 0;
}

.shadow_green4 {
  background: #29dabc;
  opacity: 0.5;
  filter: blur(100px);
  width: 200.54px;
  height: 200.54px;
  top: 30%;
  left: 40%;
  z-index: 0;
}

.shadow_green6 {
  background: #29dabc;
  opacity: 0.5;
  filter: blur(100px);
  width: 200.54px;
  height: 200.54px;
  bottom: 10%;
  right: 10%;
  z-index: 0;
}

/* Methology */
.shadow_green5 {
  background: #29dabc;
  opacity: 0.5;
  filter: blur(100px);
  width: 200.54px;
  height: 200.54px;
  top: 0%;
  left: 5%;
  z-index: 0;
}

.colored_box_behind_img {
  top: 0%;
  right: 0%;
  position: absolute;
  width: 111.76px;
  height: 111.76px;
  background: #27bba2;
}

.arrow_vector_over_text {
  top: -60px;
  right: -3%;
}

/* Methode */
.border_bottom {
  border-bottom: 1px solid #434343;
}

#Method .colored_box_behind_img2 {
  bottom: 0;
  right: 0%;
  position: absolute;
  width: 111.76px;
  height: 111.76px;
  background: #27bba2;
}

/* optimize */
.optimize_sec_bg {
  background: rgba(38, 180, 156, 0.09);
  border-radius: 50px;
}

#Optimize .symble_vector_position {
  top: 25%;
  left: 17%;
  width: 36px;
  rotate: 60deg;
}

#Optimize .symble_vector_position2 {
  bottom: 18%;
  left: 35%;
  rotate: 60deg;
}

#Optimize .symble_vector_position3 {
  bottom: 33%;
  right: 25%;
  rotate: 60deg;
}

#Optimize .symble_vector_position4 {
  top: 60%;
  left: 17%;
}

#Optimize .symble_vector_position5 {
  top: 20%;
  right: 20%;
  width: 36px;
  rotate: 30deg;
}

/* recovery */
.colored_box_behind_img_bottom {
  bottom: 0% !important;
  left: 0%;
  position: absolute;
  width: 111.76px;
  height: 111.76px;
  background: #27bba2;
  border-radius: 0 0 0 20px;
}

.transprant_card_over_img_right {
  background: rgba(255, 255, 255, 0.105);
  backdrop-filter: blur(50px);
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  bottom: -2%;
  right: 0%;
}

.transprant_card_over_img {
  background: rgba(255, 255, 255, 0.105);
  backdrop-filter: blur(50px);
  padding: 8px 26px 13px 26px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: -13%;
}

/* success */
#Success {
  background: rgba(37, 174, 134, 0.08);
  border-radius: 20px;
}

.success_col_bg {
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(74px);
  border-radius: 17px;
}

#Review a:hover {
  color: #27bba2ce;
}

/* eligiblity */
.shadow_green_success {
  background: #29dabc;
  opacity: 0.5;
  filter: blur(100px);
  width: 200.54px;
  height: 200.54px;
  bottom: 5%;
  left: 60%;
  transform: translateX(-50%);
  z-index: 0;
}

.shadow_green_eligiblity {
  background: #29dabc;
  opacity: 0.4;
  filter: blur(90px);
  width: 200.54px;
  height: 200.54px;
  top: 20%;
  right: 10%;
  z-index: 0;
}

.eligiblity_col_bg {
  background: rgba(37, 174, 134, 0.08);
  border: 1px solid transparent;
  border-radius: 16px;
}

.border_onHover {
  border: 1px solid transparent;
  border-radius: 15px;
}

.border_onHover:hover {
  border: 1px solid rgba(38, 178, 143, 0.46);
}

/* fee */
.fee_vector_position {
  top: 12%;
  left: -13%;
}

.fee_vector_position1 {
  bottom: 20%;
  right: -13%;
  transform: rotatey(180deg);
  z-index: 0;
}

/* program */
.program_bg_img {
  background-image: url(./assets/img/webp/program-bg-img.webp);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.twiter:hover path {
  fill: white !important;
}

.twiter:hover rect {
  stroke: white;
}

/* FAQ */
.shadow_green_faq {
  background: #29dabc;
  opacity: 0.4;
  filter: blur(100px);
  width: 409.46px;
  height: 269.15px;
  bottom: 10%;
  left: 55%;
  transform: translateX(-50%);
}

.faq_bg_color {
  background: #25ae8614;
}

.Faq_btn {
  padding: 15px 10px 10px 10px;
  border-bottom: 1px solid #fafafa21;
}

.active {
  background: linear-gradient(139.21deg, #27bba2 -13.86%, #1f8f45 112.5%);
  border-radius: 10px;
}

s .Faq_umbrell {
  top: 0%;
  left: 0;
  width: 90px;
}

.Faq_accordion {
  --bs-accordion-bg: transparent !important;
  --bs-accordion-border-color: transparent !important;
  --bs-accordion-btn-padding-x: unset !important;
  --bs-accordion-btn-padding-y: 0rem !important;
  --bs-accordion-btn-color: transparent !important;
  --bs-accordion-btn-bg: transparent !important;
  --bs-accordion-btn-active-icon: url(./assets/img/svg/arrow-forward.svg) !important;
  --bs-accordion-btn-icon-width: 1.25rem;
  --bs-accordion-btn-icon-transform: rotate(-360deg) !important;
  --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
  --bs-accordion-btn-icon: url(./assets/img/svg/down-arrow.svg) !important;
  --bs-accordion-btn-focus-border-color: #86b7fe;
  --bs-accordion-btn-focus-box-shadow: none !important;
  --bs-accordion-body-padding-x: 1.25rem;
  --bs-accordion-body-padding-y: 0rem !important;
  --bs-accordion-active-color: #0c63e4;
  --bs-accordion-active-bg: none !important;
  --bs-accordion-body-padding-y: 20px !important;
  --bs-accordion-body-padding-x: unset !important;
}

.Accordion_items {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  padding: 4px;
  background: transparent !important;
  border-radius: 24.8267px;
}

#FAQ h2 {
  padding-right: 4px;
}

.accordion-flush .accordion-item {
  border-bottom: 1px solid #f9f9f939;
}

.img_Width_fix {
  width: 65% !important;
}

/* footer */
#Footer a:hover {
  color: #00ffcc !important;
}

.search_bar {
  background: rgba(48, 48, 48, 0.7);
  border-radius: 8px;
}

#Footer input {
  outline: none;
  color: #fafafa;
  font-family: roboto;
  font-weight: 400;
  font-size: 16px;
  color: #fafafab7 !important;
  opacity: 0.7;
}

#Footer ::placeholder {
  outline: none;
  color: #fafafa;
  font-family: roboto;
  font-weight: 400;
  font-size: 16px;
  color: #fafafab7 !important;
}

#Footer svg.fill-changer:hover {
  transform: scale(1.2);
}

#Footer svg.fill-changer:hover path {
  fill: #23a370 !important;
}

#Footer svg.fill-changer:hover rect {
  fill: #ffffff;
}

/* About-her0 */
.aboutHero_Plus {
  top: 10%;
  left: 8%;
  width: 44px;
  rotate: 60deg;
}

.aboutHero_eye {
  top: 10%;
  right: 10%;
  width: 44px;
  rotate: 60deg;
}

.aboutHero_Plus1 {
  bottom: -10%;
  right: 20%;
  width: 36px;
  rotate: 60deg;
}

.aboutHero_eye1 {
  bottom: -20%;
  left: 20%;
  width: 36px;
  rotate: 60deg;
}

/* RoadMap-Journey */
.roadmap_cards {
  background: #172623;
  border-radius: 10px;
  z-index: 1;
}

/* Our-Team */
.shadow_green_Team {
  background: #29dabc;
  opacity: 0.5;
  filter: blur(100px);
  width: 217.54px;
  height: 217.54px;
  top: 0%;
  right: 0%;
  z-index: 0;
}

/* video */
.video_formatting {
  width: 100%;
  height: 300px;
}

.ytb_icon {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 68px;
  height: 48px;
  margin-left: -34px;
  margin-top: -24px;
  -webkit-transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1);
  -o-transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1);
  transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1);
  z-index: 100 !important;
}

.border_green_hover {
  border: 2px solid transparent;
  box-shadow: 0px 4px 42px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.border_green_hover:hover {
  border: 2px solid #27bba2;
}

.amd_btn {
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 6px;
  padding: 10px 18px;
  outline: none;
  background: transparent;
}

.amd_btn:hover {
  background: linear-gradient(139.21deg, #27bba2 -13.86%, #1f8f45 112.5%);
  border-radius: 6px;
  padding: 10px 18px;
}

.w_xsm_100 {
  width: 100%;
}

@media (min-width: 576px) {
  .varticle_line_roadmap::after {
    content: "";
    top: 18%;
    left: 20px;
    height: 100%;
    transform: translateX(-50%);
    border: 2px dashed #fafafa;
    position: absolute;
  }

  .transform_middlex {
    transform: translateX(16%);
  }

  .first_slide {
    position: absolute;
    display: block;
    top: 50%;
    left: 0px;
    width: 280.62px !important;
    height: 250.55px;
    transform: translateY(-50%);
  }

  .middle_slide {
    position: absolute;
    display: block;
    top: 50%;
    left: 30px;
    width: 280.14px !important;
    height: 240.41px;
    transform: translateY(-50%);
  }

  .last_slide {
    position: absolute;
    display: block;
    top: 50%;
    left: 50px;
    width: 280.01px !important;
    height: 230.27px;
    transform: translateY(-50%);
  }

  .mt_costom {
    margin: 110px 0 0 0;
  }

  .hoeizontl_line_Roadmap::after {
    content: "";
    top: 50%;
    height: 2px;
    width: 50%;
    border: 2px dashed #fafafa;
    position: absolute;
    left: 27%;
    transform: translateX(-100%);
    z-index: 0;
  }

  .hoeizontl_line_Roadmap::before {
    content: "";
    top: 50%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #24a879;
    border: 2px dashed #24a879;
    position: absolute;
    left: -23.5%;
    transform: translate(-100%, -50%);
    z-index: 1;
  }

  .hoeizontl_line_Roadmap2::after {
    content: "";
    top: 50%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #24a879;
    border: 2px dashed #24a879;
    position: absolute;
    right: 100%;
    transform: translate(-182%, -50%);
    z-index: 1;
  }

  .hoeizontl_line_Roadmap2::before {
    content: "";
    top: 50%;
    height: 2px;
    width: 50%;
    border: 2px dashed #fafafa;
    position: absolute;
    right: 30%;
    z-index: -10;
    transform: translateX(-100%);
  }

  .img_Width_fix {
    width: 75% !important;
  }

  .bg_hero_img {
    background-image: url(./assets/img/webp/ratina.webp);
    background-size: 600px 500px;
    background-position: bottom;
    background-repeat: no-repeat;
  }

  .Hero_transprant_card_top {
    position: absolute;
    background: rgba(39, 187, 162, 0.05);
    backdrop-filter: blur(8px);
    padding: 20px;
    border-radius: 10px;
    top: 30%;
    right: 0;
    width: 147.77px;
    height: 82px;
  }

  .Hero_transprant_card_bottom {
    position: absolute;
    background: rgba(39, 187, 162, 0.05);
    backdrop-filter: blur(8px);
    padding: 20px;
    border-radius: 10px;
    bottom: 20%;
    left: 8%;
    width: 147.77px;
    height: 82px;
  }

  .colored_box_behind_img_bottom {
    bottom: 0% !important;
    left: 0%;
    position: absolute;
    width: 111.76px;
    height: 111.76px;
    background: #27bba2;
    border-radius: 0 0 0 20px;
  }

  .transprant_card_over_img_right {
    background: rgba(255, 255, 255, 0.105);
    backdrop-filter: blur(50px);
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    bottom: -2%;
    right: -9%;
  }

  .video_formatting {
    width: 100%;
    height: 500px;
  }

  .w_sm_75 {
    width: 75%;
  }
}

@media (min-width: 768px) {
  .varticle_line_roadmap::after {
    content: "";
    top: 18%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    border: 2px dashed #fafafa;
    position: absolute;
  }

  .mt_costom {
    margin: 52px 0 0 0;
  }

  .transform_middlex {
    transform: translateX(25%);
  }

  .hoeizontl_line_Roadmap::after {
    content: "";
    top: 50%;
    height: 2px;
    width: 50%;
    border: 2px dashed #fafafa;
    position: absolute;
    left: 27%;
    transform: translateX(-100%);
    z-index: 0;
  }

  .hoeizontl_line_Roadmap::before {
    content: "";
    top: 50%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #24a879;
    border: 2px dashed #24a879;
    position: absolute;
    left: -17.6%;
    transform: translate(-100%, -50%);
    z-index: 1;
  }

  .hoeizontl_line_Roadmap2::after {
    content: "";
    top: 50%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #24a879;
    border: 2px dashed #24a879;
    position: absolute;
    right: -17.6%;
    transform: translate(100%, -50%);
    z-index: 1;
  }

  .hoeizontl_line_Roadmap2::before {
    content: "";
    top: 50%;
    height: 2px;
    width: 50%;
    border: 2px dashed #fafafa;
    position: absolute;
    right: 27%;
    z-index: -10;
    transform: translateX(100%);
  }

  .curve_over_text {
    /* content: url("./assets/img/svg/curve.svg"); */
    top: 5%;
    left: -6%;
    width: 119%;
    height: 112%;
    z-index: -1 !important;
    object-fit: contain;
  }

  .Faq_btn {
    padding: 23px 28px 24px 22px;
    border-bottom: 1px solid #fafafa21;
  }

  #Header .logo_size {
    width: 106px;
  }

  .bg_hero_img {
    background-image: url(./assets/img/webp/ratina.webp);
    background-size: 700px 600px;
    background-position: bottom;
    background-repeat: no-repeat;
  }

  .optimize_sec_bg {
    background: rgba(38, 180, 156, 0.09);
    border-radius: 197px;
  }
}

@media (min-width: 992px) {
  .cards-box .Slidecard:not(.hide)[data-slide="0"] {
    transform: translate(0px, 0px) scale(1);
    z-index: 6;
    opacity: 1;
  }

  .min_vh__100 {
    all: unset;
  }

  .transform_middlex {
    all: unset;
  }

  .h__100 {
    all: unset !important;
  }

  .w_lg_100 {
    width: 100%;
  }

  .img_Width_fix {
    width: 349.62px;
    height: 377.55px;
  }

  .bg_hero_img {
    background-image: url(./assets/img/webp/ratina.webp);
    background-size: 997px 770px;
    background-position: bottom;
    background-repeat: no-repeat;
  }

  .img_success_position {
    position: absolute;
    width: 670px;
    height: 552px;
    right: 0%;
    top: 50%;
    transform: translateY(-50%);
  }

  .first_slide {
    position: absolute;
    top: 50%;
    left: 0px;
    width: 349.62px;
    height: 377.55px;
    transform: translateY(-50%);
  }

  .middle_slide {
    position: absolute;
    top: 50%;
    left: 30px;
    width: 317.14px !important;
    height: 342.41px;
    transform: translateY(-50%);
  }

  .last_slide {
    position: absolute;
    top: 80%;
    left: 50px;
    width: 366.01px;
    height: 288.27px;
    transform: translateY(-50%);
  }
}

@media (min-width: 1200px) {
  .img_Width_fix {
    width: 349.62px;
    height: 377.55px;
  }

  .min_vh_100 {
    min-height: 100vh;
  }

  .img_success_position {
    position: absolute;
    width: 817px;
    height: 630px;
    right: 0%;
    top: 47%;
    transform: translateY(-50%);
  }

  .min_vh_90 {
    min-height: 90vh;
  }

  .video_formatting {
    width: 1140px;
    height: 640px;
  }
}

@media (min-width: 1600px) {
  .min_vh_100 {
    min-height: unset;
  }
}

.Layer_Overflow_TImeline {
  background: #172623;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  border-radius: 10px;
}

.Anim_RotatePlusIcon {
  animation: Plusico 3s linear 0s infinite forwards;
}

@keyframes Plusico {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.Anim_RotatePlusIconOpp {
  animation: Plusico 3s linear 0s infinite reverse;
}

@keyframes Plusico {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.Anim_Eye {
  animation: Plusico 2s linear 0s infinite alternate;
}

@keyframes Plusico {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(40deg);
  }
}

.Anim_EyeOpp {
  animation: Plusico 2s linear 0s infinite alternate;
}

@keyframes Plusico {
  0% {
    transform: rotate(40deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* Loader */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #00ffcc;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

.preloader {
  position: fixed;
  background: #000;
  min-width: 100vw;
}

.btop_btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #00ffcc;
  display: flex;
  justify-content: center;
  align-items: center;
}
